<%= render partial: 'shared/form_errors', locals: {object: @comment} %>

<%= form_for @comment, url: post_comments_path(@post, @comment) do |f| %>
  <p>
    <%= f.label :body, 'Leave a comment' %>
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit %></p>
<% end %>
