<%= render 'shared/form_errors', object: @comment %>

<%= form_for [@post, @comment], url: post_comments_path(@post, @comment) do |f| %>
  <p>
    <%= f.label :body, 'Leave a comment' %>
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit class: "btn btn-primary" %></p>
<% end %>
