<div class="row">
  <div class="span1 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, upvote: true), method: :post, class: 'vote-icon' do %>
        <i class="icon-thumbs-up"></i>
      <% end %>
      <br/>
    <% end %>
    <%= pluralize(comment.votes_count, 'vote') %>
    <% if logged_in? %>
      <br/>
      <%= link_to vote_post_comment_path(comment.post, comment, upvote: false), method: :post, class: 'vote-icon' do %>
        <i class="icon-thumbs-down"></i>
      <% end %>
    <% end %>
  </div>
  <div class="span10 well comment">
    <p>
      "<span class="comment-body"><%= "#{comment.body}" %></span>"
      <% if defined?(show_post_link) && show_post_link == true %>
        on <%= link_to comment.post.title, post_path(comment.post) %>
      <% end %>
      <br/>
      <span class="posted-at">
        posted by <%= comment.creator.username %> <%= nice_time(comment.created_at) %>
      </span>
    </p>
  </div>
</div>
