<%= render 'shared/content_title', title: "Profile: #{@user.username}" %>
<div class="well">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span2 text-right">
          <strong>Username:</strong>
        </div>
        <div class="span10">
          <%= @user.username %>
        </div>
      </div>
    </div>
  </div>
</div>
<h5><%= @user.username %>'s activity</h5>
<div>
  <ul class="nav nav-tabs">
    <li<%= ' class="active"'.html_safe if @tab == 'posts' %>>
      <%= link_to "Posts (#{@user.posts.count})", user_path(@user) %>
    </li>
    <li<%= ' class="active"'.html_safe if @tab == 'comments' %>>
      <%= link_to "Comments (#{@user.comments.count})", user_path(@user, tab: 'comments') %>
    </li>
  </ul>

  <% if @tab == 'comments' %>
    <%= render partial: 'comments/show', collection: @user.comments, as: :comment, locals: { show_post_link: true } %>
  <% else %>
    <%= render partial: 'shared/post', collection: @user.posts, as: :post %>
  <% end %>
</div>
