<%= render partial: 'shared/form_errors', locals: { object: @post } %>

<%= form_for @post do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <% @categories.each_with_index do |cat, index| %>
      <% if @post.category_ids.include?(cat.id) %>
        <% if index > 0 %>
          <br />
        <% end %>
        <%= check_box_tag 'post[categories][]', "#{cat.id}", 'checked', id: "post_category_#{cat.id}" %>
        <%= label_tag "post_category_#{cat.id}", "#{cat.name}", class: "checkbox inline" %>
      <% else %>
        <% if index > 0 %>
          <br />
        <% end %>
        <%= check_box_tag 'post[categories][]', "#{cat.id}", nil, id: "post_category_#{cat.id}" %>
        <%= label_tag "post_category_#{cat.id}", "#{cat.name}", class: "checkbox inline" %>
      <% end %>
    <% end %>
  </p>

  <p>
    <%= f.submit class: 'btn btn-primary' %>
  </p>
<% end %>
