<% if logged_in? && @post.creator == current_user %>
  <div class="pull-right">
    [<a href="<%= edit_post_path(@post) %>">Edit this post</a>]
  </div>
<% end %>
<h4><%= link_to @post.title, fix_url(@post.url) %></h4>
<hr/>
<p>
  <%= @post.description %>
</p>
<hr/>
<p>
  <% @post.categories.each do |category| %>
    <%= render partial: 'shared/category_link', object: category, as: :category %>
  <% end %>
</p>

<p>&nbsp;</p>
<%= render 'comments/new' if logged_in? %>
<h5>Comments:</h5>
<%= render partial: 'comments/show', collection: @post.comments, as: :comment %>
