<h2>Create a new category</h2>

<%= render partial: 'shared/form_errors', locals: {object: @category} %>

<%= form_for @category do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back to posts', posts_path %>
