<%= render 'shared/content_title', title: 'Create a new category' %>

<%= render 'shared/form_errors', object: @category %>

<%= form_for @category do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit class: 'btn btn-primary' %>
  </p>
<% end %>
